doctype html
html(lang='ru')
  include templates/_head
  body
    include templates/_callback
    include templates/_main
    include templates/_footer
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/owl.carousel/dist/owl.carousel.min.js')
    script(src='bower_components/jquery-mask-plugin/dist/jquery.mask.min.js')
    script(src='js/MobileMenu.es6.js')
    script(src='js/Tabs.es6.js')
    script(src='js/LengthChecker.es6.js')
    script(src='js/RunBacker.es6.js')
    script(src='js/main.es6.js')