.advantagesWrapper
  .content.content__advantages
    section.advantages
      h2 Обратившись к нам, Вы получите:
      .advantagesWrapp
        .advantage
          img(src='img/advantage1_icon.png', alt='gears')
          h4 качественный ремонт
          p Диагностика на профессиональном оборудовании и точное устранение неисправности.
        .advantage
          img(src='img/advantage2_icon.png', alt='cpu')
          h4 оригинальные запчасти
          p Только качественные комплектующие от надежных поставщиков.
        .advantage
          img(src='img/advantage3_icon.png', alt='box')
          h4 бесплатного курьера
          p Который заберет неисправный гаджет в удобном месте в черте города.
        .advantage
          img(src='img/advantage4_icon.png', alt='data')
          h4 полную диагностику
          p Которая точно выявит причину и масштаб поломки.
        .advantage
          img(src='img/advantage5_icon.png', alt='sale')
          h4 скидку 10% на услуги
          p Мы будем рады помочь Вам снова и предоставим скидку на повторное обращение.
        .advantage
          img(src='img/advantage6_icon.png', alt='agreement')
          h4 договор на ремонт
          p Договор станет юридической основой наших гарантийных обязательств.
        .advantage
          img(src='img/advantage7_icon.png', alt='clock')
          h4 ремонт за 30 минут
          p Сроки заранее оговариваются с клиентом и не меняются по ходу ремонта.
        .advantage
          img(src='img/advantage8_icon.png', alt='medal')
          h4 гарнтию на услуги
          p Предоставляем гарантию до 3 месяцев для вашей уверенности.

