nav.bottomNav
  .content.content__menu
    ul.mainMenu
      li
        a(href='#') главная
      li
        a(href='#') ремонтируем&nbsp;
      li
        a(href='#') о&nbsp;компании
      li
        a(href='#') сотрудничество
      li
        a(href='#') гарантии
      li
        a(href='#') новости
      li
        a(href='#') контакты