.contacts.contacts__grey
  .content.content__contacts
    .left
      .innerLeft
        a(href='index.html')
          img(src='img/logo.png' alt='logo')
      .innerRight
        div
          img(src='img/location_icon.png' alt='location')
          .
            г. Нижний Новгород, Варварская 27/8, м.Горьковская
        div
          img(src='img/clock_icon.png'
          alt='clock'
          class='clock'
          )
          .
            Режим работы c 9:00 до 20:00, без обеда и выходных
    .right
      .innerLeft
        p Прием звонков ежедневно круглосуточно
        h2 +7 (831) 420-65-70
      .innerRight
        .button.button__headerStripeMiddle.button__blue Связаться с нами