.contactsBigWrapper
  .content.content__contactsBig
    .contactsBig
      .contactsBigLeft
        h3 сервисный центр huawei
        p
          | Только мастера с колоссальным опытом работы в этой сфере смогут гарантированно вернуть вашу технику к жизни
          | даже в самой сложной ситуации. Если вы хотите избавиться от неисправностей надолго, обращайтесь только...
        button.button.button__contactsBig.button__blue Подробнее
      .contactsBigRight
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2212.546646776437!2d44.01008891594028!3d56" +
        ".32039708070897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13" +
        ".1!3m3!1m2!1s0x4151d451d1472bb1%3A0xa8bf844411d5ed2c!2z0YPQuy4g0JLQsNGA0LLQsNGA0YHQutCw0Y8sIDI3LzgsINCd0LjQttC90LjQuSDQndC-0LLQs9C-0YDQvtC0LCDQndC40LbQtdCz0L7RgNC-0LTRgdC60LDRjyDQvtCx0LsuLCA2MDMwMDY!5e0!3m2!1sru!2sru!4v1549471795904")