.employeesWrapper
  .employeesBg
    .content
      section.employees
        h2 Наши мастера
        .employeesOwl.owl-carousel
          .employee
            img(src='img/employee.png' alt='emploeyee')
            h3 Константин<br>Константинов
            span Стаж 5 лет
            button.button.button__emloyees.button__blue Обратиться
          .employee
            img(src='img/employee.png' alt='emploeyee')
            h3 Константин<br>Константинов
            span Стаж 5 лет
            button.button.button__emloyees.button__blue Обратиться
          .employee
            img(src='img/employee.png' alt='emploeyee')
            h3 Константин<br>Константинов
            span Стаж 5 лет
            button.button.button__emloyees.button__blue Обратиться
          .employee
            img(src='img/employee.png' alt='emploeyee')
            h3 Константин<br>Константинов
            span Стаж 5 лет
            button.button.button__emloyees.button__blue Обратиться
          .employee
            img(src='img/employee.png' alt='emploeyee')
            h3 Константин<br>Константинов
            span Стаж 5 лет
            button.button.button__emloyees.button__blue Обратиться
          .employee
            img(src='img/employee.png' alt='emploeyee')
            h3 Константин<br>Константинов
            span Стаж 5 лет
            button.button.button__emloyees.button__blue Обратиться
          .employee
            img(src='img/employee.png' alt='emploeyee')
            h3 Константин<br>Константинов
            span Стаж 5 лет
            button.button.button__emloyees.button__blue Обратиться
          .employee
            img(src='img/employee.png' alt='emploeyee')
            h3 Константин<br>Константинов
            span Стаж 5 лет
            button.button.button__emloyees.button__blue Обратиться
          .employee
            img(src='img/employee.png' alt='emploeyee')
            h3 Константин<br>Константинов
            span Стаж 5 лет
            button.button.button__emloyees.button__blue Обратиться
          .employee
            img(src='img/employee.png' alt='emploeyee')
            h3 Константин<br>Константинов
            span Стаж 5 лет
            button.button.button__emloyees.button__blue Обратиться
          .employee
            img(src='img/employee.png' alt='emploeyee')
            h3 Константин<br>Константинов
            span Стаж 5 лет
            button.button.button__emloyees.button__blue Обратиться
          .employee
            img(src='img/employee.png' alt='emploeyee')
            h3 Константин<br>Константинов
            span Стаж 5 лет
            button.button.button__emloyees.button__blue Обратиться
