.mainWrap
  include _header
  main
    include _slider
    include _services
    include _portfolio
    include _request1
    include _advantages
    include _about
    include _request2
    include _feedbacks
    include _employees
    include _stages
    include _request3
