.portfolioWrapper
  .portfolioBG
    .content
      section.portfolio
        h2 Примеры работ
        .portfolioTabs
          nav.buttons
            ul.tabsNav
              li.tabsControl1.active Смартфоны
              li.tabsControl2 Ноутбуки
              li.tabsControl3 Планшеты
              li.tabsControl4 Часы
          .tabsInners
            .portfolioInner.tabsControl1.active
              .portfolioOwl.owl-carousel
                .portfolioSlide
                  img(src='img/portfolioPhones1.png', alt='phones')
                  .portfolioSlideMask
                .portfolioSlide
                  img(src='img/portfolioPhones2.png', alt='phones')
                  .portfolioSlideMask
                .portfolioSlide
                  img(src='img/portfolioPhones3.jpg', alt='phones')
                  .portfolioSlideMask
                .portfolioSlide
                  img(src='img/portfolioPhones4.jpg', alt='phones')
                  .portfolioSlideMask
            .portfolioInner.tabsControl2
              .portfolioOwl.owl-carousel
                .portfolioSlide
                  img(src='img/portfolioLaptops1.jpg', alt='phones')
                  .portfolioSlideMask
                .portfolioSlide
                  img(src='img/portfolioLaptops2.jpg', alt='phones')
                  .portfolioSlideMask
            .portfolioInner.tabsControl3
              .portfolioOwl.owl-carousel
                .portfolioSlide
                  img(src='img/portfolioTablets1.jpg', alt='phones')
                  .portfolioSlideMask
                .portfolioSlide
                  img(src='img/portfolioTablets2.jpg', alt='phones')
                  .portfolioSlideMask
            .portfolioInner.tabsControl4
              .portfolioOwl.owl-carousel
                .portfolioSlide
                  img(src='img/portfolioWatches1.jpg', alt='phones')
                  .portfolioSlideMask
                .portfolioSlide
                  img(src='img/portfolioWatches2.jpg', alt='phones')
                  .portfolioSlideMask

