.servicesWrapper
  .content
    section.services
      h2 Мы ремонтируем
      .servicesWrapp
        a(href='#').servicesTopInner
          .servicesTopInnerLeft
            h3 Смартфоны
            h4 Huawei
          .servicesTopInnerRight.huawei
        a(href='#').servicesTopInner
          .servicesTopInnerLeft
            h3 Смартфоны
            h4 Honor
          .servicesTopInnerRight.honor
      .servicesWrapp.lastServicesWrapp
        a(href='#').servicesBottomInner
          .imgInner.tabletServices
          .shadowInner
          h3 Планшеты
          .viewButton Подробнее
            i.fas.fa-arrow-right
        a(href='#').servicesBottomInner
          .imgInner.laptopServices
          .shadowInner
          h3 Ноутбуки
          .viewButton Подробнее
            i.fas.fa-arrow-right
        a(href='#').servicesBottomInner
          .imgInner.watchServices
          .shadowInner
          h3 Часы
          .viewButton Подробнее
            i.fas.fa-arrow-right
      a(href='#').button.button__services.button__blue обратиться к нам
