.bannerSliderWrapper
  .content.content__slider
    .owl-altNav-prev.owl-altNav-prev__slider
      i.fas.fa-chevron-left
    .owl-altNav-next.owl-altNav-next__slider
      i.fas.fa-chevron-right
    .owlSlider.owl-carousel
      .slide.slide__1
          .slideInner
            .slideTxButtWrapp
              h2 ремонт huawei
              .button.button__slider.button__white Подробнее
          .slideInner.imgWrapp
      .slide.slide__2
        .slideInner
          .slideTxButtWrapp
            h2 ремонт honor
            .button.button__slider.button__white Подробнее
        .slideInner.imgWrapp
      .slide.slide__1
        .slideInner
          .slideTxButtWrapp
            h2 ремонт huawei
            .button.button__slider.button__white Подробнее
        .slideInner.imgWrapp
      .slide.slide__2
        .slideInner
          .slideTxButtWrapp
            h2 ремонт honor
            .button.button__slider.button__white Подробнее
        .slideInner.imgWrapp
      .slide.slide__1
        .slideInner
          .slideTxButtWrapp
            h2 ремонт huawei
            .button.button__slider.button__white Подробнее
        .slideInner.imgWrapp
      .slide.slide__2
        .slideInner
          .slideTxButtWrapp
            h2 ремонт honor
            .button.button__slider.button__white Подробнее
        .slideInner.imgWrapp
      .slide.slide__1
        .slideInner
          .slideTxButtWrapp
            h2 ремонт huawei
            .button.button__slider.button__white Подробнее
        .slideInner.imgWrapp
      .slide.slide__2
        .slideInner
          .slideTxButtWrapp
            h2 ремонт honor
            .button.button__slider.button__white Подробнее
        .slideInner.imgWrapp

