.stagesWrapper
  .content
    section.stages
      h2 Этапы работы
      .stagesWrapp
        .stagesTop
          .stage.stage__blue
            .arrow.arrow__1
            h3 1
            h4 заявка на ремонт
            p Дежурный оператор принимает вашу заявку по телефону, указанному на сайте.
            button.button.button__stages.button__white Оставить заявку
          .stage.stage__grey
            .arrow.arrow__2
            h3 2
            h4 диагностика
            p
              | Клиент самостоятельно или с помощью курьера доставляет неисправный гаджет к нам, после чего проводится
              | полная проверка устройства и называется точная цена услуги.
        .stagesBottom
          .stage.stage__blue
            .arrow.arrow__3
            h3 3
            h4 ремонт
            p После окончания ремонта оператор связывается с вами, чтобы договориться о времени передачи исправной техники владельцу.
          .stage.stage__grey
            h3 4
            h4 итог
            p
              | После окончания ремонта оператор связывается с вами, чтобы договориться о времени передачи исправной
              | техники владельцу.
